*{
    margin: 0;
    padding: 10px;
}

.wrapper {
    width: 1170px;
    margin: auto;
}

body{
    background-color: black;
    background-image: url("../images/background.jfif");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    position: relative;
    text-align: center;
}

header {
    height: 100vh;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.nav-area{
    float: right;
    list-style: none;
    margin-top: 30px;
}

.nav-area li{
    display: inline-block;
    position: relative;
    margin: 0 20px;
}

.nav-area li a{
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
}

.nav-area li a::after{
    content: "";
    height: 3px;
    width: 0;
    background: white;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.nav-area li a:hover::after{
    width: 100%;
}

body{
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url("../images/background.jfif");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

.contain {
    width: 500px;
    position: absolute;
    top: 25%;
    left: 30%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 20px #cdd4d4;
}

h2 {
    font-size: 30px;
    font-weight: 600;
}

.height, .weight {
    text-align: left;
    margin-left: 150px;
}

#h, #w {
    color: #222f3e;
    text-align: left;
    font-size: 20px;
    font-weight: 200;
    outline: none;
    border: none;
    background: none;
    border-bottom: 1px solid #363636;
}

#h:focus, #w:focus {
    border-bottom: 2px solid #363636;
    width: 300px;
    transition: 0.5s;
}

#result{
    color: black;
}

#profile-button {
    width: 100px;
    padding: 5px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid rgb(0, 0, 0);
    background: black;
    color: white;
    cursor: pointer;
}

#profile-button:hover {
    background: white;
    color: black;
    transition: 0.5s;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 700px) {
    .wrapper {
        justify-content: center;
        position: relative;
        width: 100%;
        padding-bottom: 0%;
      }

    .nav-area {
        justify-content: center;
        display: inline-block;
        margin: 0;
    }

    .nav-area li a {
        font-size: 12px;
    }

    .contain {
        position: absolute;
        top: 200px;
        left: 20px;
        width: 220px;
        height: 220px;
    }

    h2 {
        font-size: 20px;
        font-weight: 600;
    }
    
    .height, .weight {
        text-align: left;
        margin-left: 100px;
        font-size: 10px;
    }

    #h, #w {
        color: #222f3e;
        text-align: left;
        font-size: 10px;
        font-weight: 200;
        outline: none;
        border: none;
        background: none;
        border-bottom: 1px solid #363636;
    }

    #profile-button {
        width: 80px;
        padding: 5px 0;
        text-align: center;
        margin: 0%;
        border-radius: 25px;
        font-size: 10px;
        font-weight: 150px;
        border: 2px solid rgb(0, 0, 0);
        background: black;
        color: white;
        cursor: pointer;
    }
    
    #profile-button:hover {
        background: white;
        color: black;
        transition: 0.5s;
    }
}