* {
    margin: 0;
    padding: 10px;
}

.wrapper {
    width: 1170px;
    margin: auto;
}

a {
    text-decoration: none;
    color: white;
}

body{
    background-color: black;
    background-image: url("../images/background.jfif");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    text-align: center; 
}

header {
    height: 100vh;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.nav-area{
    float: right;
    list-style: none;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}

.nav-area li{
    display: inline-block;
    position: relative;
    margin: 0 20px;
}

.nav-area li a{
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
}

.nav-area li a::after{
    content: "";
    height: 3px;
    width: 0;
    background: white;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.nav-area li a:hover::after{
    width: 100%;
}

.welcome-text{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
    text-shadow: rgb(85, 88, 94) 2px 2px 30px;
}

.welcome-text h1{
    font-size: 70px;
    margin-top: 80px;
}

.welcome-text p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    font-size: 20px;
}

#submit-button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid white;
    background: transparent;
    color: white;
    cursor: pointer;
}

#submit-button:hover {
    background: white;
    color: black;
    transition: 0.5s;
}

 .row {
     justify-content: center;
 }

.save-button, .load-button {
    width: 150px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: 150px;
    border: 2px solid white;
    background: transparent;
    color: white;
    cursor: pointer;
}

.save-button:hover, .load-button:hover {
    background: black;
    color: white;
    transition: 0.2s;
}

.card {
    background-color: black!important;
    opacity: 80%;
    margin: .75rem;
    width: 15rem!important;
}

.modal-dialog, .modal-body, .modal-content {
    background-color: black!important;
    opacity: 98%;
}

.category-btn {
    width: 150px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid white;
    background: transparent;
    color: white;
    cursor: pointer;
}

.exercise-btn {
    width: 160px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid white;
    background: transparent;
    color: white;
    cursor: pointer;
}

.workout-btn {
    width: 200px;
    width: 100%;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
    background: transparent;
    color: white;
    cursor: pointer;
}

.close-btn, .removeButton {
    width: 50px;
    height: 50px;
    padding: 10px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid white;
    background: transparent;
    color: white;
    cursor: pointer;
}

.exercise-btn:hover, .category-btn:hover, .workout-btn:hover, .close-btn:hover, .removeButton:hover {
    background: white;
    color: black;
    transition: 0.6s;
}

i:hover {
    background: white;
    color: black;
    transition: 0.6s;
    border-radius: 60px;
}

.modal-body {
    height: 60vh;
    overflow-y: auto;
}

iframe {
    border-radius: 15px;
}

::-webkit-scrollbar {
    width: 20px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: grey;
  }

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 700px) {
    .wrapper {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
        width: 100%;
      }

    .nav-area {
        justify-content: center;
        display: inline-block;
        margin: 0%;
    }

    .nav-area li a {
        font-size: 15px;
    }

    .welcome-text h1 {
        font-size: 20px;
        text-align: center;
    }

    .welcome-text p {
        font-size: 15px;
    }

    #submit-button {
        width: 150px;
        font-size: 10px;
    }

    .save-button, .load-button {
        width: 100px;
        padding: 15px 0;
        text-align: center;
        margin: 20px 10px;
        border-radius: 25px;
        font-weight: 150px;
        font-size: 14px;
        border: 2px solid white;
        background: transparent;
        color: white;
        cursor: pointer;
    }

    .card {
        width: 8rem!important;
        font-size: 12px!important;
    }
    
}