*{
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 1170px;
    margin: auto;
}

header {
    background: url("../images/background.jfif");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.nav-area{
    float: right;
    list-style: none;
    margin-top: 30px;
}

.nav-area li{
    display: inline-block;
    position: relative;
    margin: 0 20px;
}

.nav-area li a{
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
}

.nav-area li a::after{
    content: "";
    height: 3px;
    width: 0;
    background: white;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.nav-area li a:hover::after{
    width: 100%;
}

.welcome-text{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}

.welcome-text h1{
    font-size: 70px;
    margin-top: 80px;
}

.welcome-text p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    font-size: 20px;
}

button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid white;
    background: transparent;
    color: white;
    cursor: pointer;
}

button:hover{
    background: white;
    color: black;
    transition: 0.5s;
}